body{
    background-color: #efefef;
}
.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.media-object {
    width: 40px;
    height: 40px;
}

.text-a {
    font-size: 12px;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}
.commenu{/*编辑按钮*/
    font-size: 13px;
    color: #999;
}