<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布-DKnote</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"type="application/javascript"></script>

</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12"><!-- 代表不同屏幕的时候尺寸是多大lg是大屏 md小屏 sm平板 xs手机  -->
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  发起</h2>
                <hr><!-- 分割线-->
                <form action="/publish" method="post"><!-- action是当你填写表单的submit的时候提交的地址 如果是get方法就是执行页面，如果是post就会执行请求-->
                    <input type="hidden" name="id" th:value="${id}">表单再次提交的时候就将hidden传递过来 但是不需要在页面展示出来
                    <div class="form-group">
                        <label for="title">问题标题:</label>
                        <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="标题"><!-- 输入栏 (一横行)-->
                    </div>
                    <div class="form-group">
                        <label for="description">问题详情:</label>
                        <textarea class="form-control" th:text="${description}"name="description" id="description" cols="30" rows="10"></textarea><!-- 文本栏（大块）-->
                    </div>
                    <div class="form-group">
                        <label for="tag">添加标签</label>
                        <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="标签 ，分隔"><!-- ${表示接受从后端传来的数据}-->
                    </div>
                    <div class="container-fluid main">
                        <div class="row">
                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                <span class="alert alert-danger" th:text="${error}" th:if="${error!=null}"></span>
                            </div>

                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                <button type="submit " class="btn btn-success btn-publish ">
                                发布
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
                <h3>问题发起指南</h3><!-- h几表示字号大小-->
                对问题描述要求<br><!--br换行-->
                标题不超过20个字<br>
                详细<br>
                彻底<br>
                牛逼<br>
            </div>
        </div>
</div>
</body>
</html>